.CartItemCard {
  display: flex;
  padding: 1vmax;
  height: 8vmax;
  align-items: flex-start;
  box-sizing: border-box;
}
.CartItemCard > img {
  width: 5vmax;
  font-size: 1vmax;
}
.CartItemCard > div {
  display: flex;
  margin: 0.3vmax 1vmax;
  flex-direction: column;
}
.CartItemCard > div > a {
  font: 600 1.2vmax cursive;
  color: rgba(24, 24, 24, 0.815);
  text-decoration: none;
  transition: all 0.5s;
}
.CartItemCard > div > a:hover {
  text-decoration: underline;
}
.CartItemCard > div > span {
  font: 400 1vmax "Roboto";
  color: rgba(24, 24, 24, 0.815);
}
.CartItemCard > div > p {
  font: 400 1vmax "Roboto";
  color: tomato;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .CartItemCard {
    padding-left: 1vmax;
    padding-top: 3vmax;
    height: 25vmax;
  }
  .CartItemCard > img {
    width: 10vmax;
    font-size: 2vmax;
  }
  .CartItemCard > div {
    margin: 1vmax 2vmax;
  }
  .CartItemCard > div > a {
    font: 600 2vmax cursive;
  }
  .CartItemCard > div > span {
    font-size: 1.8vmax;
  }
  .CartItemCard > div > p {
    font-size: 1.7vmax;
  }
}
