.shippingContainar {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shippingBox {
  background-color: white;
  width: 28vw;
  height: 90vh;
  box-sizing: border-box;
  overflow: hidden;
}
.shippingHeading {
  text-align: center;
  color: rgba(0, 0, 0, 0.664);
  font: 500 1.5vmax "Roboto";
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 50%;
  margin: auto;
}
.shippingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 85%;
  transition: all 0.5s;
}
.shippingForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.shippingForm > div > select,
.shippingForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1vmax cursive;
  outline: none;
}
.shippingForm > div > svg {
  font-size: 1.7vmax;
  position: absolute;
  transform: translateX(1vmax);
  color: rgba(0, 0, 0, 0.566);
}

.shippingBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 500 1vmax "Roboto";
  width: 100%;
  padding: 1vmax 4vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  margin-top: 2vmax;
}
.shippingBtn:hover {
  background-color: rgb(179, 66, 46);
}
@media screen and (max-width: 1030px) {
  .shippingBox {
    width: 100vw;
    height: 95vh;
  }
  .shippingHeading {
    font-size: 3vmax;
    width: 60%;
  }
  .shippingForm {
    padding: 5vmax;
  }
  .shippingForm > div > select,
  .shippingForm > div > input {
    padding: 5vw 10vw;
    font-size: 4vw;
  }
  .shippingForm > div > svg {
    font-size: 3vmax;
  }
  .shippingBtn {
    font-size: 1.9vmax;
    padding: 2.5vmax;
  }
}
