@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Dancing+Script&family=Kanit:wght@100&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500;700;900&display=swap");
.banner {
  /* font-family: "Roboto", "Ubuntu"; */
  background-image: url(../../images/Coverr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner > h1 {
  margin: 5vmax;
  font-weight: 700;
  font-size: 3vmax;
  font-family: "Roboto";
}
.banner > p {
  /* margin-top: 1vmax; */
  font-weight: 400;
  font-size: 1.6vmax;
  font-family: "Ubuntu";
}
#scrollBtn {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 12vmax;
  font: 400 1vmax "Roboto";
  font-size: 1.4vmax;
}
#scrollBtn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
/* .banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
  max-width: 100%;
} */
.homeHeading {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.6vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 25vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}
/* home js containar css */
.containar {
  display: flex;
  flex-wrap: wrap;
  margin: 2vmax auto;
  width: 90vw;
  justify-content: center;
  /* max-width: 100%; */
}
/* product css */
.productCard {
  width: 15vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}
.productCard > img {
  width: 15vmax;
}
.productCard > div {
  margin: 0.1vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCard > div > span {
  padding-top: 4px;
  margin: 0.3vmax;
  font: 400 0.8vmax "Roboto";
}
.productCard > p {
  font-size: 1.2vmax;
  font-family: "Roboto";
  margin: 1vmax 0.5vmax 0vmax 0.5vmax;
}
.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.3vmax;
}
.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}
@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.6vmax;
  }
  .productCard > div {
    margin: 0vmax;
    display: block;
  }
  .productCard > span {
    font-size: 1.5vmax;
  }
  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
@media screen and (max-width: 300px) {
  .productCard > div {
    margin: 0vmax;
    font-size: small;
  }
}
